#menu {
    width:120px;
    color:#e2e2e5;
    float:left;
    margin:8px;
    background-color:#ff9800;
}
/* table { */
/*     table-layout:auto; */
/*     float:center; */
    
    
    
/*} */
p {
    font-size:large;
    color:#e2e2e5;
    
}
body {
    background-color:#202020;

}
.img {
    width:150px;
    height:84px;
    padding:10px;
    
    
}
.t1 {
    width:100px;
    color:#e2e2e5;
    line-height:1.4em;
    text-align:center;
    
}

#header {
    color:#ff9800;
    letter-spacing:0.14em;
    text-align:center;
}



