#menu {
    width:120px;
    color:#202020;
    float:top;
    margin:8px;
    background-color:#ff9800;
}
    
.ms {
    float:left
    margin:10px;
    background-color:#ff9800;
    color:#202020;
    display:inline;
    padding:10px;
    border:solid 2px;
}
    
/*} */
p {
    font-size:large;
    color:#e2e2e5;
    
}
body {
    background-color:#202020;

}
.img {
    width:150px;
    height:84px;
    padding:30px;
    
    
    
}
.t1 {
    width:100px;
    color:#e2e2e5;
    line-height:1.4em;
    text-align:center;
    
}
div.t1{
    text-align:center;
    color:#e2e2e5;
    width:300px;
    }

#header {
    color:#ff9800;
    letter-spacing:0.14em;
    text-align:center;
}



.results {
    margin:auto;
    padding:10px;
    border-left-width:20px;
}

div.rtable {
    
    width:300px;
    }

div.tablecell {
    float:right
    width:500px;
    text-align:center;
    margin: 20px;
    }
div.iplayerinfo {
    height:500px;
    width:400px;
    margin: 50px;
    text-align:center;
    background-color:#808080;
    float:right;
    }

