#menu {
    width:120px;
    color:#202020;
    margin:8px;
    background-color:#ff9800;
}
    
.ms {
    float:left;
    display:inline;
    margin:2px;
    background-color:#ff9800;
    color:#202020;
    padding:8px;
    border:solid 1px;
    border-radius:4px;

}
   
.cats {
    float:left
    }

p {
    font-size:large;
    color:#e2e2e5;
    
}
body {
    background-color:#202020;

}

.t1 {
    width:100px;
    color:#e2e2e5;
    line-height:1.4em;
    text-align:center;
    word-break:break-all;
    
}
div.t1{
    text-align:center;
    color:#e2e2e5;
    width:48em;
    float:left;
    }

#header {
    color:#ff9800;
    letter-spacing:0.14em;
    text-align:center;
    clear:left;
}
div.info {
    width:50em;
    color:#e2e2e5;
    }



.results {
    margin:auto;
    padding:10px;
    border-left-width:20px;
}

div.rtable {
    
    width:300px;
    }

div.tablecell {
    float:left;
    width:500px;
    text-align:center;
    margin: 20px;
    }
div.iplayerinfo {
    
    width:400px;
    margin: 30px;
    text-align:center;
    clear:left;
    }
div.infotitle {
    text-align:left;
    float:left;
    margin-left:50px;
    
    }
div.infothumb {
    float:right;
    margin-right:60px;
    margin-top:20px;
    
    }


.download {
    padding:10px;
    color:#202020;
    background-color:#ff9800;
    margin-right:100px;
    font-size:1.3em;
    clear:right;
    margin-top:20px;
    float:right;
    
        }
div.delete {
    text-align:center;
    font-size:1.4em;
    clear:both;
    margin-top:80px;
    }